.AboutMe {
    display: flex;
    flex-direction: column;
    color: #e7e5e4;
    padding: 1rem;


    .avatar {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 0 auto;
    }

    .title {
        text-align: center;
        font-size: 2rem;
        margin: 1rem 0 0 0.5rem;
        color: #e7e5e4;
    }

    .body-about-me{
        margin: 0 auto;
        padding: 0.5rem 1rem 1rem 1rem;
        font-size: 1rem;
        color: #e7e5e4;
    }
}

@media (768px <= width ) {
   .AboutMe{
       .body-about-me {
           font-size: 1.30rem;
       }
   }
}

@media (1024px <= width ) {
    .AboutMe{
        .body-about-me {
            width: 80%;
        }
    }
}

@media (768px > width ) {
    .AboutMe{
        .body-about-me {
            font-size: 1.15rem;
        }
    }
}