.side_menu_container_closed {
    transform: translateY(-100vh);
    animation-duration: 750ms;
    animation-name: menuOut;
    position: fixed;
    left: -0.2rem;


}

.side_menu_container_opened {
    animation-duration: 750ms;
    animation-name: menuIn;
    width: 100%;
    position: fixed;
    left: -0.2rem;
    top:5rem;

}

.side_list_menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    list-style: none;
    padding: 1rem;
    background-color: #000000;


    .side_item_menu, a {
        text-align: center;
        font-size: larger;
        color: #e7e5e4;
        border-radius: 0.75rem;
        padding: 0.5rem;
        text-decoration: inherit;

        .socialNetworks {
            width: fit-content;
            display: flex;
            justify-content: center;
            gap: 0 3rem;
        }

    }

}

@keyframes menuIn {
    from {
        transform: translatey(-100vh) scaley(2);
    }
    to {
        transform: translatey(0) scaley(1);
    }
}

@keyframes menuOut {
    from {
        transform: translatey(0) scaley(1);
    }
    to {
        transform: translatey(-100vh) scaley(2);
    }
}