.side_menu_container_closed {
    display: none;

}

.side_menu_container_opened {
    display: inherit;

    .side_list_menu {
        margin: 0 auto;
        gap: 0 1rem;
        list-style: none;
        padding: 0 1rem;

        .side_item_menu, a {
            width: fit-content;
            font-size: larger;
            color: #e7e5e4;
            border-radius: 0.75rem;
            padding: 0.5rem;
            text-decoration: inherit;

        }

    }
}